@use 'sass:map';
@use './disabled.scss' as *;
$_attr:(
  disabled: $disabled
);
@function setAttr($keys, $state: 'def', $lx: 'def') {
  $re: (
  );
  @each $key in $keys {
    $re: map.set($re, $key, 'def', map.get($_attr, $key, $state, $lx));
  }
  @return $re
}