:root{
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary1: #409EFF;
  --color-primary2: #337ecc;
  --color-primary3: #79bbff;
  --color-primary4: #a0cfff;
  --color-primary5: #c6e2ff;
  --color-primary6: #d9ecff;
  --color-primary7: #ecf5ff;
  --color-success1: #67C23A;
  --color-success2: #529b2e;
  --color-success3: #95d475;
  --color-success4: #b3e19d;
  --color-success5: #d1edc4;
  --color-success6: #e1f3d8;
  --color-success7: #f0f9eb;
  --color-warning1: #E6A23C;
  --color-warning2: #b88230;
  --color-warning3: #eebe77;
  --color-warning4: #f3d19e;
  --color-warning5: #f8e3c5;
  --color-warning6: #faecd8;
  --color-warning7: #fdf6ec;
  --color-danger1: #F56C6C;
  --color-danger2: #c45656;
  --color-danger3: #f89898;
  --color-danger4: #fab6b6;
  --color-danger5: #fcd3d3;
  --color-danger6: #fde2e2;
  --color-danger7: #fef0f0;
  --color-info1: #909399;
  --color-info2: #73767a;
  --color-info3: #f89898;
  --color-info4: #fab6b6;
  --color-info5: #fcd3d3;
  --color-info6: #fde2e2;
  --color-info7: #fef0f0;
  --color-text1: #303133;
  --color-text2: #606266;
  --color-text3: #909399;
  --color-text4: #A8Abb2;
  --color-text5: #C0C4CC;
  --color-border1: #CDD0D6;
  --color-border2: #D4D7DE;
  --color-border3: #dcdfe6;
  --color-border4: #E4E7ed;
  --color-border5: #EBEEF5;
  --color-border6: #F2F6FC;
  --color-transparent: transparent;
  --color-transparent1: rgba(0, 0, 0, .1);
  --color-transparent2: rgba(0, 0, 0, .7);
  --color-bg1: #ffffff;
  --color-bg2: #F2F3F5;
}