@use 'sass:map';
@use './attr.scss' as *;
$_-state-text:(
  'background-color': var(--color-transparent),
  'border-color': var(--color-transparent)
);
$_-state-re: (
  'background-color': var(--color-white)
);
$_-state: (
  'color': var(--color-white)
);
$_-primary: (
  'background-color': var(--color-primary),
  'border-color': var(--color-primary),
  'color': var(--color-primary)
);
$_-success: (
  'background-color': var(--color-success),
  'border-color': var(--color-success),
  'color': var(--color-success)
);
$_-warning: (
  'background-color': var(--color-warning),
  'border-color': var(--color-warning),
  'color': var(--color-warning)
);
$_-danger: (
  'background-color': var(--color-danger),
  'border-color': var(--color-danger),
  'color': var(--color-danger)
);
$_-info: (
  'background-color': var(--color-info),
  'border-color': var(--color-info),
  'color': var(--color-info)
);
$_attr: ('disabled');
$css-state: (
  primary: (
    'def': map.merge($_-primary, $_-state),
    attr: setAttr($_attr, 'primary')
  ),
  success: (
    'def': map.merge($_-success, $_-state),
    attr: setAttr($_attr, 'success')
  ),
  warning: (
    'def': map.merge($_-warning, $_-state),
    attr: setAttr($_attr, 'warning')
  ),
  danger: (
    'def': map.merge($_-danger, $_-state),
    attr: setAttr($_attr, 'danger')
  ),
  info: (
    'def': map.merge($_-info, $_-state),
    attr: setAttr($_attr, 'info')
  )
);
$css-state--re: (
  primary: (
    'def': map.merge($_-primary, $_-state-re),
    attr: setAttr($_attr, 'primary', 're')
  ),
  success: (
    'def': map.merge($_-success, $_-state-re),
    attr: setAttr($_attr, 'success', 're')
  ),
  warning: (
    'def': map.merge($_-warning, $_-state-re),
    attr: setAttr($_attr, 'warning', 're')
  ),
  danger: (
    'def': map.merge($_-danger, $_-state-re),
    attr: setAttr($_attr, 'danger', 're')
  ),
  info: (
    'def': map.merge($_-info, $_-state-re),
    attr: setAttr($_attr, 'info', 're')
  )
);
$css-state--text: (
  primary: (
    'def': map.merge($_-primary, $_-state-text),
    attr: setAttr($_attr, 'primary', 'text')
  ),
  success: (
    'def': map.merge($_-success, $_-state-text),
    attr: setAttr($_attr, 'success', 'text')
  ),
  warning: (
    'def': map.merge($_-warning, $_-state-text),
    attr: setAttr($_attr, 'warning', 'text')
  ),
  danger: (
    'def': map.merge($_-danger, $_-state-text),
    attr: setAttr($_attr, 'danger', 'text')
  ),
  info: (
    'def': map.merge($_-info, $_-state-text),
    attr: setAttr($_attr, 'info', 'text')
  )
);
