$state: ('primary', 'success', 'warning', 'danger', 'info');
$state_val: (
  'primary': ('bg': var(--color-primary1), 'color': var(--color-white)),
  'success': ('bg': var(--color-success1), 'color': var(--color-white)),
  'warning': ('bg': var(--color-warning1), 'color': var(--color-white)),
  'danger': ('bg': var(--color-danger1), 'color': var(--color-white)),
  'info': ('bg': var(--color-info1), 'color': var(--color-white)),
);
@each $var in $state {
  $info: map-get($state_val, $var);
  $bg: map-get($info, 'bg');
  $color: map-get($info, 'color');
  %#{$var + '--text'} {
    color: $bg;
  }
  %#{$var + '--bg'} {
    border-color: $bg;
  }
  %#{$var} {
    background-color: $bg;
    border-color: $bg;
    color: $color;
  }
  %#{$var + '--re'} {
    background-color: $color;
    border-color: $bg;
    @extend %#{$var + '--text'};
  }
}