:root{
  --width-radius-def: .04rem;

  --width-margin-def: .12rem;

  --width-font-def: .14rem;
  --width-font-sm: .12rem;
  --width-font-md: .14rem;
  --width-font-lg: .14rem;

  --width-pd-def: .08rem .15rem;
  --width-pd-sm: .05rem .11rem;
  --width-pd-md: .08rem .15rem;
  --width-pd-lg: .12rem .19rem;
}