@use 'sass:map';
@use '../../vars/index.scss' as *;

.z-tree-item {
  line-height: 2em;

  &.z-selected {
    >.tree-row {
      background: map.get($color, primary, 2);
      color: map.get($color, font, 3);
    }
  }

  >.tree-row {
    padding-right: .5em;
    box-sizing: border-box;
  }
}