@use 'sass:map';
@use '../../vars/index.scss' as *;
$tree-item-key--style: (
  background-color: map.get($color, primary, 2)
);
$tree-item-key--class: ();
$tree-item-key--attr: ();
$tree-item--class: (
  key: (style: $tree-item-key--style, child: (class: $tree-item-key--class, attr: $tree-item-key--attr))
);
$tree-item--attr: ();
$tree-item--style: ();
$hover-style: (
  class:$tree-item--class,
  attr:$tree-item--attr,
  style:$tree-item--style
);
  
    $styleMedia: (
      hover: $hover-style
    );
    