@use 'sass:map';
@use '../../vars/index.scss' as *;
$disabled-primary: (
  background-color: map.get($color, primary, 4),
  border-color: map.get($color, primary, 4),
  color: map.get($color, color, 3)
);
$disabled-warning: (
  background-color: map.get($color, warning, 4),
  border-color: map.get($color, warning, 4),
  color: map.get($color, color, 3)
);
$disabled-danger: (
  background-color: map.get($color, danger, 4),
  border-color: map.get($color, danger, 4),
  color: map.get($color, color, 3)
);
$disabled-info: (
  background-color: map.get($color, info, 4),
  border-color: map.get($color, info, 4),
  color: map.get($color, color, 3)
);
$disabled-success: (
  background-color: map.get($color, success, 4),
  border-color: map.get($color, success, 4),
  color: map.get($color, color, 3)
);
$disabled-primary--ghost: (
  color: map.get($color, primary, 4),
  border-color: map.get($color, primary, 6),
  background-color: map.get($color, color, 3)
);
$disabled-warning--ghost: (
  color: map.get($color, warning, 4),
  border-color: map.get($color, warning, 6),
  background-color: map.get($color, color, 3)
);
$disabled-danger--ghost: (
  color: map.get($color, danger, 4),
  border-color: map.get($color, success, 6),
  background-color: map.get($color, color, 3)
);
$disabled-info--ghost: (
  color: map.get($color, info, 4),
  border-color: map.get($color, info, 6),
  background-color: map.get($color, color, 3)
);
$disabled-success--ghost: (
  color: map.get($color, success, 4),
  border-color: map.get($color, success, 6),
  background-color: map.get($color, color, 3)
);
$disabled-primary--text: (
  color: map.get($color, primary, 4),
  border-color: transparent
);
$disabled-warning--text: (
  color: map.get($color, warning, 4),
  border-color: transparent
);
$disabled-danger--text: (
  color: map.get($color, danger, 4),
  border-color: transparent
);
$disabled-info--text: (
  color: map.get($color, info, 4),
  border-color: transparent
);
$disabled-success--text: (
  color: map.get($color, success, 4),
  border-color: transparent
);