@use '../../mixins/index.scss' as *;
@use './shape.scss' as *;
@use './hover.scss' as *;
$state-style--def: (
  color: var(--z-color-white)
);
$state-style--primary: (
  background-color: var(--z-color-primary-1),
  border-color: var(--z-color-primary-1)
);
$state-style--success: (
  background-color: var(--z-color-success-1),
  border-color: var(--z-color-success-1)
);
$state-style--warning: (
  background-color: var(--z-color-warning-1),
  border-color: var(--z-color-warning-1)
);
$state-style--info: (
  background-color: var(--z-color-info-1),
  border-color: var(--z-color-info-1)
);
$state-style--danger: (
  background-color: var(--z-color-danger-1),
  border-color: var(--z-color-danger-1)
);
$styleClass: (
  primary: (style: $state-style--primary, child: (class: $shape--primary, attr: $shapeAttr--primary)),
  success: (style: $state-style--success, child: (class: $shape--success, attr: $shapeAttr--success)),
  warning: (style: $state-style--warning, child: (class: $shape--warning, attr: $shapeAttr--warning)),
  info: (style: $state-style--info, child: (class: $shape--info, attr: $shapeAttr--info)),
  danger: (style: $state-style--danger, child: (class: $shape--danger, attr: $shapeAttr--danger)),
  (primary, success, warning, info, danger): (style: $state-style--def, child: (class: $shape, attr: $shapeAttr))
);
$style: (
  class:$styleClass
);
@include async($style, '');
@include asyncMedia($styleHover, '');