@use '../../mixins/index.scss' as *;
@use './disabled.scss' as *;
$shape-style--def: (
  background-color: var(--z-color-white)
);
$shape-success-style--def: (
  color: var(--z-color-success-1)
);
$shape-warning-style--def: (
  color: var(--z-color-warning-1)
);
$shape-primary-style--def: (
  color: var(--z-color-primary-1)
);
$shape-info-style--def: (
  color: var(--z-color-info-1)
);
$shape-danger-style--def: (
  color: var(--z-color-danger-1)
);
$shape-success-style--ghost: (
  border-color: var(--z-color-success-3)
);
$shape-warning-style--ghost: (
  border-color: var(--z-color-warning-3)
);
$shape-primary-style--ghost: (
  border-color: var(--z-color-primary-3)
);
$shape-info-style--ghost: (
  border-color: var(--z-color-info-3)
);
$shape-danger-style--ghost: (
  border-color: var(--z-color-danger-3)
);
$shape-child--def: (
);
$shape-success-child--def: (
);
$shape-warning-child--def: (
);
$shape-primary-child--def: (
);
$shape-info-child--def: (
);
$shape-danger-child--def: (
);
$shape-success-child--ghost: (
  attr: (disabled:(style: $disabled-success--ghost ))
);
$shape-warning-child--ghost: (
  attr: (disabled:(style: $disabled-warning--ghost ))
);
$shape-primary-child--ghost: (
  attr: (disabled:(style: $disabled-primary--ghost ))
);
$shape-info-child--ghost: (
  attr: (disabled:(style: $disabled-info--ghost ))
);
$shape-danger-child--ghost: (
  attr: (disabled:(style: $disabled-danger--ghost ))
);
$shape-success-child--text: (
  attr: (disabled:(style: $disabled-success--text ))
);
$shape-warning-child--text: (
  attr: (disabled:(style: $disabled-warning--text ))
);
$shape-primary-child--text: (
  attr: (disabled:(style: $disabled-primary--text ))
);
$shape-info-child--text: (
  attr: (disabled:(style: $disabled-info--text ))
);
$shape-danger-child--text: (
  attr: (disabled:(style: $disabled-danger--text ))
);
$shape: (
  (text, ghost):(style: $shape-style--def, child:$shape-child--def)
);
$shapeAttr: (
);
$shapeMedia: (
);
$shape--primary: (
  ghost: (style: $shape-primary-style--ghost, child: $shape-primary-child--ghost),
  text: (style: (), child: $shape-primary-child--text),
  (text, ghost): (style: $shape-primary-style--def, child: $shape-primary-child--def)
);
$shapeAttr--primary: (
  disabled:(style: $disabled-primary)
);
$shapeMedia--primary: (
);
$shape--warning: (
  ghost: (style: $shape-warning-style--ghost, child: $shape-warning-child--ghost),
  text: (style: (), child: $shape-warning-child--text),
  (text, ghost): (style: $shape-warning-style--def, child: $shape-warning-child--def)
);
$shapeAttr--warning: (
  disabled:(style: $disabled-warning)
);
$shapeMedia--warning: (
);
$shape--success: (
  ghost: (style: $shape-success-style--ghost, child: $shape-success-child--ghost),
  text: (style: (), child: $shape-success-child--text),
  (text, ghost): (style: $shape-success-style--def, child: $shape-success-child--def)
);
$shapeAttr--success: (
  disabled:(style: $disabled-success)
);
$shapeMedia--success: (
);
$shape--info: (
  ghost: (style: $shape-info-style--ghost, child: $shape-info-child--ghost),
  text: (style: (), child: $shape-info-child--text),
  (text, ghost): (style: $shape-info-style--def, child: $shape-info-child--def)
);
$shapeAttr--info: (
  disabled:(style: $disabled-info)
);
$shapeMedia--info: (
);
$shape--danger: (
  ghost: (style: $shape-danger-style--ghost, child: $shape-danger-child--ghost),
  text: (style: (), child: $shape-danger-child--text),
  (text, ghost): (style: $shape-danger-style--def, child: $shape-danger-child--def)
);
$shapeAttr--danger: (
  disabled:(style: $disabled-danger)
);
$shapeMedia--danger: (
);