@use 'sass:map';
@use '../../vars/index.scss' as *;
$flex-start--style: (
  align-items: start,
  align-content: start
);
$flex-end--style: (
  align-items: end,
  align-content: end
);
$flex-center--style: (
  align-items: center,
  align-content: center
);
$flex-stretch--style: (
  align-items: stretch,
  align-content: stretch
);
$flex-around--style: (
  align-items: space-around,
  align-content: space-around
);
$flex-between--style: (
  align-items: space-between,
  align-content: space-between
);
$flex--class: (
  start: (style: $flex-start--style),
  end: (style: $flex-end--style),
  center: (style: $flex-center--style),
  stretch: (style: $flex-stretch--style),
  around: (style: $flex-around--style),
  between: (style: $flex-between--style)
);
$styleAlign: (
  class:$flex--class
);