@use 'sass:map';
@use '../../vars/index.scss' as *;
$flex-col--style: (
  flex-direction: column
);
$flex-wrap--style: (
  flex-wrap: wrap
);
$flex-row--style: (
  width: 100%
);
$flex--class: (
  row: (style: $flex-row--style),
  col: (style: $flex-col--style),
  wrap: (style: $flex-wrap--style)
);
$style: (
  class:$flex--class
);