.z-row,
.z-col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  box-sizing: border-box;
  position: relative;
  flex-flow: row nowrap;

  >* {
    flex-shrink: 0;
    flex-grow: 0;
  }

  &.z-justify--start {
    justify-content: start;
  }

  &.z-justify--end {
    justify-content: end;
  }

  &.z-justify--center {
    justify-content: center;
  }

  &.z-justify--stretch {
    justify-content: stretch;
  }

  &.z-justify--around {
    justify-content: space-around;
  }

  &.z-justify--between {
    justify-content: space-between;
  }

  &.z-justify--evenly {
    justify-content: space-evenly;
  }

  &.z-align--start {
    align-items: start;
    align-content: start;
  }

  &.z-align--end {
    align-items: end;
    align-content: end;
  }

  &.z-align--center {
    align-items: center;
    align-content: center;
  }

  &.z-align--stretch {
    align-items: stretch;
    align-content: stretch;
  }

  &.z-align--around {
    align-items: space-around;
    align-content: space-around;
  }

  &.z-align--between {
    align-items: space-between;
    align-content: space-between;
  }

  &.z-self--start {
    align-self: start;
  }

  &.z-self--end {
    align-self: end;
  }

  &.z-self--center {
    align-self: center;
  }

  &.z-self--stretch {
    align-self: stretch;
  }

  &.z-flex--wrap {
    flex-wrap: wrap;
  }
}

.z-col {
  flex-direction: column;
}