@use './align.scss' as *;
@use './justify.scss' as *;
@use './self.scss' as *;

.z-row,
.z-col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  box-sizing: border-box;
  position: relative;
  flex-flow: row nowrap;

  >* {
    flex-shrink: 0;
    flex-grow: 0;
  }

  @extend %flex-justify;
  @extend %flex-align;
  @extend %flex-self;

  &.z-wrap {
    flex-wrap: wrap;
  }
}

.z-col {
  flex-direction: column;
}