@use 'sass:map';
@use '../../vars/index.scss' as *;

.z-input--box {
  border: 1px solid map.get($color, border, 2);
  padding: map-get($size, pd, 'md');
  box-sizing: border-box;

  input {
    flex-grow: 1;
  }
}