@use 'sass:map';
@use '../../vars/index.scss' as *;
$input-key--style: (
  border: 1px solid map.get($color, primary, 2)
);
$input-key--class: ();
$input-key--attr: ();
$input--class: (
  key: (style: $input-key--style, child: (class: $input-key--class, attr: $input-key--attr))
);
$input--attr: ();
$input--style: ();
$style: (
  class:$input--class,
  attr:$input--attr,
  style:$input--style
);
  