@use 'sass:map';
@use '../../vars/index.scss' as *;
$input-def--style: (
  border: 1px solid map.get($color, border, 3)
);
$input-def--class: ();
$input-def--attr: ();
$input--class: (
  def: (style: $input-def--style, child: (class: $input-def--class, attr: $input-def--attr))
);
$input--attr: ();
$input--style: ();
$style: (
  class:$input--class,
  attr:$input--attr,
  style:$input--style
);
  