@use 'sass:map';
@use './focus.scss' as *;
@use '../var.scss' as *;
$_-state: (
  focus: $focus,
  active: $focus
);
$state-keys: map.keys($_-state);
@function setState($keys, $state: 'def', $lx: 'def', $attr: 'def') {
  $re: (
  );
  @each $key in $keys {
    $re: map.set($re, $key, map.get($_-state, $key, $state, $attr, $lx));
  }
  @return $re
}
