@use 'sass:map';
@use '../../vars/index.scss' as *;
$call-kit-key--style: (
  background-color: map.get($color, primary, 2)
);
$call-kit-key--class: (
);
$call-kit-key--attr: (
);
$call-kit--class: (
  key: (style: $call-kit-key--style, child: (class: $call-kit-key--class, attr: $call-kit-key--attr))
);
$call-kit--attr: (
);
$call-kit--style: (
);
$hover-style: (
  class:$call-kit--class,
  attr:$call-kit--attr,
  style:$call-kit--style
);

$styleMedia: (
  hover: $hover-style
);