@use 'sass:map';
@use '../../vars/index.scss' as *;
$call-kit-single-main--style: (
  width: 100%,
  height: 100%,
  background: red
);
$call-kit-single-remote--style: (
  width: 33%,
  height: 33%,
  position: absolute,
  top: 0,
  left: 0,
  background: blue
);
$call-kit-single--class: (
  'call-kit--main': (style: $call-kit-single-main--style),
  'call-kit--remote': (style: $call-kit-single-remote--style)
);
$call-kit--class: (
  single: (child: (childClass: $call-kit-single--class))
);
$style: (
  class:$call-kit--class
);