$color: (
  color: (1:#000000, 2: #303133, 3: #ffffff, 4: #e4e7ed),
  border: (1:#a8abb2, 2: #dcdfe6, 3: #e4e7ed),
  primary:(1:#337ecc, 2:#409eff, 3: #79bbff, 4: #a0cfff, 5: #c6e2ff, 6: #d9ecff, 7: #ecf5ff),
  success:(1:#529b2e, 2:#67c23a, 3: #95d475, 4:#b3e19d, 5: #d1edc4, 6:#e1f3d8, 7: #f0f9eb),
  warning:(1:#b88230, 2: #e6a23c, 3: #eebe77, 4:#f3d19e, 5: #f8e3c5, 6: #faecd8, 7:#fdf6ec),
  danger:(1:#c45656, 2: #f56c6c, 3: #f89898, 4:#fab6b6, 5: #fcd3d3, 6: #fde2e2, 7:#fef0f0),
  info:(1:#73767a, 2: #909399, 3: #b1b3b8, 4:#c8c9cc, 5:#dedfe0, 6:#e9e9eb, 7:#f4f4f5)
);