$size-pd: (
  sm: .02rem .1rem,
  md: .04rem .12rem,
  lg: .06rem .14rem
);
$size-font: (
  sm: .12rem,
  md: .14rem,
  lg: .16rem
);
$size: (
  'pd': $size-pd,
  'font':$size-font
);
$sizeKey: (
  sm,
  md,
  lg
);
$htmlSize: 100px;
$fontSize: .14rem;