$size-pd: (
  sm: .05rem .11rem,
  md: .08rem .15rem,
  lg: .12rem .19rem
);
$size-font: (
  sm: .12rem,
  md: .14rem,
  lg: .14rem
);
$size: (
  'pd': $size-pd,
  'font':$size-font
);
$sizeKey: (
  sm,
  md,
  lg
);
$htmlSize: 100px;
$fontSize: .14rem;