$size-pd: (
  sm: var(--width-pd-sm),
  md: var(--width-pd-md),
  lg: var(--width-pd-lg)
);
$size-font: (
  sm: var(--width-font-sm),
  md: var(--width-font-md),
  lg: var(--width-font-lg)
);
$size: (
  'pd': $size-pd,
  'font'$size-font
);