:root {
  --border-solid: 1px solid var(--color-border);
}

:root {
  --color-white: #ffffff;
  --color-white-disabled: rgba(255,255,255,.5);
  --color-black: #000000;
  --color-primary: #409EFF;
  --color-primary2: #337ecc;
  --color-primary-hover: #79bbff;
  --color-primary-disabled: #a0cfff;
  --color-primary5: #c6e2ff;
  --color-primary6: #d9ecff;
  --color-primary-ghost: #ecf5ff;
  --color-success: #67C23A;
  --color-success2: #529b2e;
  --color-success-hover: #95d475;
  --color-success-disabled: #b3e19d;
  --color-success5: #d1edc4;
  --color-success6: #e1f3d8;
  --color-success-ghost: #f0f9eb;
  --color-warning: #E6A23C;
  --color-warning2: #b88230;
  --color-warning-hover: #eebe77;
  --color-warning-disabled: #f3d19e;
  --color-warning5: #f8e3c5;
  --color-warning6: #faecd8;
  --color-warning-ghost: #fdf6ec;
  --color-danger: #F56C6C;
  --color-danger2: #c45656;
  --color-danger-hover: #f89898;
  --color-danger-disabled: #fab6b6;
  --color-danger5: #fcd3d3;
  --color-danger6: #fde2e2;
  --color-danger-ghost: #fef0f0;
  --color-info: #909399;
  --color-info2: #73767a;
  --color-info-hover: #b1b3b8;
  --color-info-disabled: #c8c9cc;
  --color-info5: #dedfe0;
  --color-info6: #e9e9eb;
  --color-info-ghost: #f4f4f5;
  --color-text: #303133;
  --color-text2: #606266;
  --color-text-hover: #909399;
  --color-text-disabled: #A8Abb2;
  --color-text5: #C0C4CC;
  --color-border: #dcdfe6;
  --color-border2: #CDD0D6;
  --color-border-hover: #D4D7DE;
  --color-border-disabled: #E4E7ed;
  --color-border5: #EBEEF5;
  --color-border6: #F2F6FC;
  --color-transparent: transparent;
  --color-transparent1: rgba(0, 0, 0, .1);
  --color-transparent2: rgba(0, 0, 0, .7);
  --color-bg1: #ffffff;
  --color-bg2: #F2F3F5;
}

:root {
  --font-weight: 500;
}

:root {
  --width-radius: .04rem;
  --width-margin: .12rem;
  --width-font: .14rem;
  --width-font-sm: .12rem;
  --width-font-md: .14rem;
  --width-font-lg: .14rem;
  --width-pd: .08rem .15rem;
  --width-pd-sm: .05rem .11rem;
  --width-pd-md: .08rem .15rem;
  --width-pd-lg: .12rem .19rem;
}

.z-btn-group.z-group-tight .z-btn, .z-btn-group.z-group-auto .z-btn {
  margin: 0;
}
.z-btn-group.z-group-tight .z-btn:first-child, .z-btn-group.z-group-auto .z-btn:first-child {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.z-btn-group.z-group-tight .z-btn:last-child, .z-btn-group.z-group-auto .z-btn:last-child {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.z-btn-group.z-group-tight .z-btn:not(:first-child):not(:last-child), .z-btn-group.z-group-auto .z-btn:not(:first-child):not(:last-child) {
  border-radius: 0 !important;
}

.z-btn-group.z-group-auto .z-btn {
  flex: 1 1 auto;
}

html {
  font-size: 100px;
}

body {
  font-size: var(--width-font);
}

button {
  margin: 0;
  user-select: none;
}

.z-col, .z-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  box-sizing: border-box;
  position: relative;
}
.z-wrap.z-col, .z-wrap.z-row {
  flex-wrap: wrap;
}

.z-row {
  flex-flow: row nowrap;
}

.z-col {
  flex-flow: column nowrap;
}

.z-btn.z-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
}
@media (any-hover: hover) {
  .z-btn.z-primary:hover {
    color: var(--color-white);
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
  }
}
.z-btn.z-primary[disabled] {
  background-color: var(--color-primary-disabled);
  border-color: var(--color-primary-disabled);
  color: var(--color-white-disabled);
}
.z-btn.z-warning {
  background-color: var(--color-warning);
  border-color: var(--color-warning);
  color: var(--color-white);
}
@media (any-hover: hover) {
  .z-btn.z-warning:hover {
    color: var(--color-white);
    background-color: var(--color-warning-hover);
    border-color: var(--color-warning-hover);
  }
}
.z-btn.z-warning[disabled] {
  background-color: var(--color-warning-disabled);
  border-color: var(--color-warning-disabled);
  color: var(--color-white-disabled);
}
.z-btn.z-danger {
  background-color: var(--color-danger);
  border-color: var(--color-danger);
  color: var(--color-white);
}
@media (any-hover: hover) {
  .z-btn.z-danger:hover {
    color: var(--color-white);
    background-color: var(--color-danger-hover);
    border-color: var(--color-danger-hover);
  }
}
.z-btn.z-danger[disabled] {
  background-color: var(--color-danger-disabled);
  border-color: var(--color-danger-disabled);
  color: var(--color-white-disabled);
}
.z-btn.z-info {
  background-color: var(--color-info);
  border-color: var(--color-info);
  color: var(--color-white);
}
@media (any-hover: hover) {
  .z-btn.z-info:hover {
    color: var(--color-white);
    background-color: var(--color-info-hover);
    border-color: var(--color-info-hover);
  }
}
.z-btn.z-info[disabled] {
  background-color: var(--color-info-disabled);
  border-color: var(--color-info-disabled);
  color: var(--color-white-disabled);
}
.z-btn.z-success {
  background-color: var(--color-success);
  border-color: var(--color-success);
  color: var(--color-white);
}
@media (any-hover: hover) {
  .z-btn.z-success:hover {
    color: var(--color-white);
    background-color: var(--color-success-hover);
    border-color: var(--color-success-hover);
  }
}
.z-btn.z-success[disabled] {
  background-color: var(--color-success-disabled);
  border-color: var(--color-success-disabled);
  color: var(--color-white-disabled);
}
.z-btn.z-ghost {
  background-color: var(--color-white);
}
.z-btn.z-ghost.z-primary {
  background-color: var(--color-primary-ghost);
  color: var(--color-primary);
}
@media (any-hover: hover) {
  .z-btn.z-ghost.z-primary:hover {
    color: var(--color-white);
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
  }
}
.z-btn.z-ghost.z-primary[disabled] {
  background-color: var(--color-white-disabled);
  border-color: var(--color-primary-disabled);
  color: var(--color-primary-disabled);
}
.z-btn.z-ghost.z-warning {
  background-color: var(--color-warning-ghost);
  color: var(--color-warning);
}
@media (any-hover: hover) {
  .z-btn.z-ghost.z-warning:hover {
    color: var(--color-white);
    background-color: var(--color-warning-hover);
    border-color: var(--color-warning-hover);
  }
}
.z-btn.z-ghost.z-warning[disabled] {
  background-color: var(--color-white-disabled);
  border-color: var(--color-warning-disabled);
  color: var(--color-warning-disabled);
}
.z-btn.z-ghost.z-danger {
  background-color: var(--color-danger-ghost);
  color: var(--color-danger);
}
@media (any-hover: hover) {
  .z-btn.z-ghost.z-danger:hover {
    color: var(--color-white);
    background-color: var(--color-danger-hover);
    border-color: var(--color-danger-hover);
  }
}
.z-btn.z-ghost.z-danger[disabled] {
  background-color: var(--color-white-disabled);
  border-color: var(--color-danger-disabled);
  color: var(--color-danger-disabled);
}
.z-btn.z-ghost.z-info {
  background-color: var(--color-info-ghost);
  color: var(--color-info);
}
@media (any-hover: hover) {
  .z-btn.z-ghost.z-info:hover {
    color: var(--color-white);
    background-color: var(--color-info-hover);
    border-color: var(--color-info-hover);
  }
}
.z-btn.z-ghost.z-info[disabled] {
  background-color: var(--color-white-disabled);
  border-color: var(--color-info-disabled);
  color: var(--color-info-disabled);
}
.z-btn.z-ghost.z-success {
  background-color: var(--color-success-ghost);
  color: var(--color-success);
}
@media (any-hover: hover) {
  .z-btn.z-ghost.z-success:hover {
    color: var(--color-white);
    background-color: var(--color-success-hover);
    border-color: var(--color-success-hover);
  }
}
.z-btn.z-ghost.z-success[disabled] {
  background-color: var(--color-white-disabled);
  border-color: var(--color-success-disabled);
  color: var(--color-success-disabled);
}
.z-btn.z-text {
  background-color: var(--color-transparent);
  border-color: var(--color-transparent);
}
.z-btn.z-text.z-primary {
  background-color: var(--color-transparent);
  border-color: var(--color-transparent);
  color: var(--color-primary);
}
@media (any-hover: hover) {
  .z-btn.z-text.z-primary:hover {
    color: var(--color-primary);
    background-color: var(--color-transparent);
    border-color: var(--color-transparent);
  }
}
.z-btn.z-text.z-primary[disabled] {
  background-color: var(--color-transparent);
  border-color: var(--color-transparent);
  color: var(--color-primary-disabled);
}
.z-btn.z-text.z-warning {
  background-color: var(--color-transparent);
  border-color: var(--color-transparent);
  color: var(--color-warning);
}
@media (any-hover: hover) {
  .z-btn.z-text.z-warning:hover {
    color: var(--color-warning);
    background-color: var(--color-transparent);
    border-color: var(--color-transparent);
  }
}
.z-btn.z-text.z-warning[disabled] {
  background-color: var(--color-transparent);
  border-color: var(--color-transparent);
  color: var(--color-warning-disabled);
}
.z-btn.z-text.z-danger {
  background-color: var(--color-transparent);
  border-color: var(--color-transparent);
  color: var(--color-danger);
}
@media (any-hover: hover) {
  .z-btn.z-text.z-danger:hover {
    color: var(--color-danger);
    background-color: var(--color-transparent);
    border-color: var(--color-transparent);
  }
}
.z-btn.z-text.z-danger[disabled] {
  background-color: var(--color-transparent);
  border-color: var(--color-transparent);
  color: var(--color-danger-disabled);
}
.z-btn.z-text.z-info {
  background-color: var(--color-transparent);
  border-color: var(--color-transparent);
  color: var(--color-info);
}
@media (any-hover: hover) {
  .z-btn.z-text.z-info:hover {
    color: var(--color-info);
    background-color: var(--color-transparent);
    border-color: var(--color-transparent);
  }
}
.z-btn.z-text.z-info[disabled] {
  background-color: var(--color-transparent);
  border-color: var(--color-transparent);
  color: var(--color-info-disabled);
}
.z-btn.z-text.z-success {
  background-color: var(--color-transparent);
  border-color: var(--color-transparent);
  color: var(--color-success);
}
@media (any-hover: hover) {
  .z-btn.z-text.z-success:hover {
    color: var(--color-success);
    background-color: var(--color-transparent);
    border-color: var(--color-transparent);
  }
}
.z-btn.z-text.z-success[disabled] {
  background-color: var(--color-transparent);
  border-color: var(--color-transparent);
  color: var(--color-success-disabled);
}
@media (any-hover: hover) {
  .z-btn.z-text:hover {
    color: var(--color-text);
    background-color: var(--color-transparent);
    border-color: var(--color-transparent);
  }
}
.z-btn.z-text[disabled] {
  background-color: var(--color-transparent);
  border-color: var(--color-transparent);
  color: var(--color-text-disabled);
}
@media (any-hover: hover) {
  .z-btn:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
    border-color: var(--color-primary);
  }
}
.z-btn[disabled] {
  cursor: not-allowed;
  user-select: none;
  background-color: var(--color-white-disabled);
  border-color: var(--color-border-disabled);
  color: var(--color-text-disabled);
}

.z-btn {
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
  transition: 0.1s;
  vertical-align: middle;
  line-height: 1;
  outline: none;
  cursor: pointer;
  user-select: none;
  border-radius: var(--width-radius);
  border: var(--border-solid);
  font-weight: var(--font-weight);
  background-color: var(--color-white);
  border-color: var(--color-border);
  color: var(--color-text);
  font-size: var(--width-font);
  padding: var(--width-pd);
}
.z-btn + .z-btn {
  margin-left: var(--width-margin);
}

@media (any-hover: hover) {
  .z-icon:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
    border-color: var(--color-primary);
  }
}
.z-icon[disabled] {
  cursor: not-allowed;
  user-select: none;
  background-color: var(--color-white-disabled);
  border-color: var(--color-border-disabled);
  color: var(--color-text-disabled);
}

@media (any-hover: hover) {
  .z-form:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
    border-color: var(--color-primary);
  }
}
.z-form[disabled] {
  cursor: not-allowed;
  user-select: none;
  background-color: var(--color-white-disabled);
  border-color: var(--color-border-disabled);
  color: var(--color-text-disabled);
}

@media (any-hover: hover) {
  .z-table:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
    border-color: var(--color-primary);
  }
}
.z-table[disabled] {
  cursor: not-allowed;
  user-select: none;
  background-color: var(--color-white-disabled);
  border-color: var(--color-border-disabled);
  color: var(--color-text-disabled);
}

@media (any-hover: hover) {
  .z-th:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
    border-color: var(--color-primary);
  }
}
.z-th[disabled] {
  cursor: not-allowed;
  user-select: none;
  background-color: var(--color-white-disabled);
  border-color: var(--color-border-disabled);
  color: var(--color-text-disabled);
}

@media (any-hover: hover) {
  .z-page:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
    border-color: var(--color-primary);
  }
}
.z-page[disabled] {
  cursor: not-allowed;
  user-select: none;
  background-color: var(--color-white-disabled);
  border-color: var(--color-border-disabled);
  color: var(--color-text-disabled);
}

.z-circle {
  border-radius: 50%;
}

.z-ellipse {
  border-radius: 50%;
}

.z-round {
  border-radius: 100vw;
}

.z-sm {
  padding: var(--width-pd-sm);
  font-size: var(--width-font-sm);
}

.z-md {
  padding: var(--width-pd-md);
  font-size: var(--width-font-md);
}

.z-lg {
  padding: var(--width-pd-lg);
  font-size: var(--width-font-lg);
}

/*# sourceMappingURL=index.css.map */
