@use 'sass:map';
@use '../../vars/index.scss' as *;
$border-width: 1px;
$border-color: #dcdfe6;
$border: $border-width solid $border-color;

.z-table {
  overflow: auto !important;

  >table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    max-height: 100%;
    min-width: 100%;

    >thead {
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: map.get($color, font, 3);

      >tr {
        &:first-child>th {
          border-top: $border;
        }
      }
    }

    >tbody {
      >tr {
        &:last-child>td {
          position: sticky;
          bottom: 0;
        }

        &:nth-last-child(2)>td {
          border-bottom: none;
        }
      }
    }

    >thead,
    >tbody {
      >tr {

        td,
        th {
          overflow: hidden;
          border-left: $border;
          border-bottom: $border;
          padding: 0 .5em;
          white-space: nowrap;

          &:last-child,
          &:first-child {
            position: sticky;
            padding: unset;
            width: 0;
            border-left: $border !important;
          }

          &:last-child {
            right: 0;
          }

          &:first-child {
            left: 0;
          }

          &:nth-child(2) {
            border-left: none;
          }

          &.z-border--right {
            border-right: $border;

            &+td,
            &+th {
              border-left: none;
            }
          }
        }
      }
    }
  }
}