@use 'sass:map';
@use '../../vars/index.scss' as *;

.z-table {
  overflow: auto !important;
  >table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    max-height: 100%;

    >thead {
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: map.get($color, font, 3);
      >tr {
        &:first-child >th {
          border-top: 5px solid #dcdfe6;
        }
      }
    }

    >tbody {
      >tr {
        &:last-child >td {
          position: sticky;
          bottom: 0;
          z-index: 2;
        }

        &:nth-last-child(2) >td {
          border-bottom: none;
        }
      }
    }
    >thead,>tbody{
      >tr{
        td,th {
          overflow: hidden;
          border-left: 5px solid #dcdfe6;
          border-bottom: 5px solid #dcdfe6;
          &:first-child {
            position: sticky;
            z-index: 2;
            left: 0;
          }
          &:nth-child(2) {
            border-left-width: 0;
          }
          &:last-child {
            position: sticky;
            z-index: 2;
            right: 0;
          }
        }
      }
    }
  }
}