@use 'sass:map';
@use '../../vars/index.scss' as *;
@use './tbody.scss' as *;
@use './thead.scss' as *;
@use './td.scss' as *;
$-table-childEl: (
  '>thead':$thead,
  '>tbody':$tbody
);
$-table-child: (
  childEl:$-table-childEl
);
$-table: (
  style: (table-layout: fixed,
    border-collapse: separate,
    border-spacing: 0,
    min-height: 100%,
  ),
  child:$-table-child
);
$-childEl: (
  '.table-body table': $-table,
  td: $td,
  th:$th
);
$style: (
  childEl: $-childEl
);