@use 'sass:map';
@use '../../vars/index.scss' as *;
@use './td.scss' as *;
// thead
$-thead-tr-firstChild--childEl: (
  th:$thead-tr-firstChild-th
);
$-thead-tr-firstChild--child: (
  childEl: $-thead-tr-firstChild--childEl
);
$-thead-tr-firstChild: (
  child: $-thead-tr-firstChild--child
);
$-thead-tr--pseudo: (
  'first-child':$-thead-tr-firstChild
);
$-thead-tr--child: (
  pseudo:$-thead-tr--pseudo
);
$thead-tr: (
  child: $-thead-tr--child
);

// tbody
$-tbody-tr-lastChild--childEl: (
  td:$tbody-tr-lastChild-td
);
$-tbody-tr-lastChild--child: (
  childEl: $-tbody-tr-lastChild--childEl
);
$-tbody-tr-lastChild: (
  child: $-tbody-tr-lastChild--child
);
$-tbody-tr-lastChild2--childEl: (
  td:$tbody-tr-lastChild2-td
);
$-tbody-tr-lastChild--child2: (
  childEl: $-tbody-tr-lastChild2--childEl
);
$-tbody-tr-lastChild2: (
  child: $-tbody-tr-lastChild--child2
);
$-tbody-tr--pseudo: (
  'last-child':$-tbody-tr-lastChild,
  'nth-last-child(2)':$-tbody-tr-lastChild2
);
$-tbody-tr--child: (
  pseudo:$-tbody-tr--pseudo
);
$tbody-tr: (
  child: $-tbody-tr--child
);