@use 'sass:map';
@use '../../vars/index.scss' as *;
$form-item-key--style: (
  background-color: map.get($color, primary, 2)
);
$form-item-key--class: ();
$form-item-key--attr: ();
$form-item--class: (
  key: (style: $form-item-key--style, child: (class: $form-item-key--class, attr: $form-item-key--attr))
);
$form-item--attr: ();
$form-item--style: ();
$hover-style: (
  class:$form-item--class,
  attr:$form-item--attr,
  style:$form-item--style
);
  
    $styleMedia: (
      hover: $hover-style
    );
    