@use 'sass:map';
// @use '../../vars/index.scss' as *;
$shape-child: (
  class: '',
  attr: '',
  media: ''
);
$shape-style-none: (
);
$shape-style: (
);
$class: (
  style: $shape-style,
  style-none: $shape-style-none,
  child: $shape-child
);
$media: (
);
$attr: (
);
$style: (
  class: $class,
  attr: $attr,
  media: $media
);