@use 'sass:map';
@use '../../vars/index.scss' as *;
$btn-hover: (
  color:map.get($color, primary, 2),
  border-color: map.get($color, primary, 5),
  background-color:map.get($color, primary, 7)
);
$hoverClass: (
  def: (style: $btn-hover)
);
$styleHover: (
  hover: (class: $hoverClass)
);