@use 'sass:map';
@use '../../mixins/index.scss' as *;
@use '../../vars/index.scss' as *;
@use './btn.scss' as *;

@include asyncMedia($styleHover, '');

@include createSingleClass(btn, '', '') {
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
  transition: .1s;
  vertical-align: middle;
  line-height: 1;
  outline: none;
  cursor: pointer;
  user-select: none;
  border: 1px solid map.get($color, color, 3);
  color: var(--z-color);
  padding: map-get($size, pd, 'md');

  &+& {
    margin-left: 8px;
  }
}