@use 'sass:map';
@use '../../mixins/index.scss' as *;
@use '../../config/index.scss' as *;
@use './btn.scss' as *;
@include styles(btn, $btn, $attr, $state, $media);

@include create(btn) {

  border-radius: var(--width-radius);
  border: map.get($def, 'border');
  font-weight: map.get($def, 'font-weight');
  background-color: map.get($def, 'background-color');
  border-color: map.get($def, 'border-color');
  color: map.get($def, 'color');
  font-size: map.get($def, 'font-size');
  padding: map.get($def, 'padding');


}