@use './mixins/index.scss' as *;
@include create(btn) {
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  vertical-align: middle;
  line-height: 1;
  cursor: pointer;
  font-weight: var(--font-weight-small);
  background-color: var(--color-white);
  border: var(--border-solid);
  color: var(--color-text1);
  font-size: var(--width-font-def);
  border-radius: var(--width-radius-def);
  padding: var(--width-pd-def);
  & + &{
    margin-left: var(--width-margin-def);
  }
}