@use 'sass:map';
@use './mixins/index.scss' as *;
@use './config/index.scss' as *;
$btnMod: map.merge((
  mod: $css-state--text,
  'ghost': (
    def: (
      'background-color': var(--color-white)
    ),
    mod: $css-state--re
  ),
  'text': (
    'def': (
      'background-color': var(--color-transparent),
      'border-color': var(--color-transparent)
    ),
    mod: $css-state--text
  )
),$radius);
$btn: (
  'def': map.merge($def, (
    'margin-left': var(--width-margin),
    'border-radius': var(--width-radius)
  )),
  'mod': map.merge($css-state, $btnMod),
  'attr': (),
  'state': (),
  'media': ()
) !default;
@include styles(btn, $btn);
@include create(btn) {
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  vertical-align: middle;
  line-height: 1;
  cursor: pointer;
  border: var(--btn-border);
  font-weight: var(--btn-font-weight);
  background-color: var(--btn-background-color);
  border-color: var(--btn-border-color);
  color: var(--btn-color);
  font-size: var(--btn-font-size);
  border-radius: var(--btn-border-radius);
  padding: var(--btn-padding);
  & + &{
    margin-left: var(--btn-margin-left);
  }
}