@use '../mixins/index.scss' as *;

@include createClass('ghost', '', '') {
  background-color: transparent;
}

@include createClass('text', '', '') {
  border-color: transparent;
  background-color: transparent;
}