@use 'sass:map';
@use '../mixins/index.scss' as *;
@use '../vars/index.scss' as *;
$styleHover: (
  hover: (class: (ghost: (style: (border-color: map.get($color, primary, 2), background-color: map.get($color, color, 3))),
      text: (style: (border-color: transparent, color: map.get($color, info, 2),
          background-color: transparent))))
);

@include createClass('ghost', '', '') {
  background-color: transparent;
}

@include createClass('text', '', '') {
  border-color: transparent;
  background-color: transparent;
}

@include asyncMedia($styleHover, '');