@use '../mixins/base.scss' as *;
$size: ('sm', 'md', 'lg');
@include create(sm) {
  font-size: var(--width-font-sm);
  padding: var(--width-pd-sm);
}
@include create(md) {
  font-size: var(--width-font-md);
  padding: var(--width-pd-md);
}
@include create(lg) {
  font-size: var(--width-font-lg);
  padding: var(--width-pd-lg);
}