@use 'sass:map';
@use './createMod.scss' as *;


%styleVal {
  width: 2px;
}

@mixin getStyle($data, $block, $add, $name, $name1) {
  $style : map.get($data, style);
  $child : map.get($data, child);

  @if $style {
    #{$name} {

      @each $key,
      $val in $style {
        #{$key}: #{$val};
      }
    }
  }

  @if $child {
    #{$name1} {
      @include async($child, $block, $add);
    }
  }
}

@mixin async($data, $block, $add) {
  @if $data {
    @include asyncClass(map.get($data, class), $block, '', $add);
    @include asyncClass(map.get($data, attr), $block, 'attr', $add);
    @include asyncClass(map.get($data, pseudo), $block, 'pseudo', $add);
    @include asyncChild(map.get($data, childClass), '', '', '');
    @include asyncChild(map.get($data, childAttr), '', 'attr', '')
  }
}

@mixin asyncChild($data, $block, $lx, $add) {
  @if $data {

    @each $name,
    $val in $data {
      @if $name {
        @if $val {
          @include getStyle($val, $block, $add, getNames($name, $block, $lx, '', $add), getNames($name, $block, $lx, '', ""));
        }
      }
    }
  }
}

@mixin asyncClass($data, $block, $lx, $add) {

  @if $data {

    @each $name,
    $val in $data {
      @if $name {
        @if $val {
          @if & {
            @include getStyle($val, $block, $add, getNames($name, $block, $lx, '&', $add), getNames($name, $block, $lx, '&', ""));
          }

          @else {
            @include getStyle($val, $block, $add, getNames($name, $block, $lx, '', $add), getNames($name, $block, $lx, '', ""));
          }
        }
      }
    }
  }
}

@mixin asyncMedia($data, $block) {

  @each $name,
  $val in $data {
    @if $name ==hover {
      @media (any-hover:hover) {
        @include async($val, $block, ':hover')
      }
    }
  }
}