@use 'sass:map';
@use './createMod.scss' as *;


%styleVal {
  width: 2px;
}

@mixin getStyle($data, $block) {
  $style : map.get($data, style);
  $child : map.get($data, child);

  @if $style {

    @each $key,
    $val in $style {
      #{$key}: #{$val};
    }
  }

  @if $child {
    @include async($child, $block);
  }
}

@mixin async($data, $block) {
  @if $data {
    @include asyncClass(map.get($data, class), $block, '');
    @include asyncClass(map.get($data, attr), $block, 'attr');
    @include asyncClass(map.get($data, media), $block, 'media');
  }
}

@function getNames($names, $block, $lx) {
  $nameVal: "";
  $val: "";

  @each $name in $names {
    $i: index($names, $name);

    @if $name ==def {
      @if $i ==1 {
        $nameVal: "&";
      }

      @else {
        $nameVal: $nameVal",&";
      }
    }

    @else {
      @if $i ==1 {
        $nameVal: getClassName($block, $lx, $name);
      }

      @else {
        $nameVal: $nameVal"," getClassName($block, $lx, $name);
      }
    }
  }

  @return $nameVal;
}

@mixin asyncClass($data, $block, $lx) {

  @if $data {

    @each $name,
    $val in $data {
      @if $name {
        @if $val {
          #{getNames(($name),$block,$lx)} {
            @include getStyle($val, $block);
          }
        }
      }
    }
  }
}