@use './vars.scss' as *;

@mixin createClass($block, $lx, $name) {

  @if & {
    @include createAddClass($block, $lx, $name) {
      @content;
    }
  }

  @else {
    @include createSingleClass($block, $lx, $name) {
      @content;
    }
  }
}

@function getClassName($block, $lx, $name) {
  @if $lx ==attr {
    @if $name=='' {
      @return [#{$block}];
    }

    @else {
      @return [#{$name}];
    }

  }

  @else if $lx ==pseudo {
    @if $name=='' {
      @return ':'+#{$block};
    }

    @else {
      @return ':'+#{$name};
    }

  }

  @else if $lx ==el {
    @if $name=='' {
      @return #{$block};
    }

    @else {
      @return #{$name};
    }

  }

  @else {
    @if $name=='' {
      @return '.'+#{$CSSNAME}#{$block};
    }

    @else {
      @return '.'+#{$CSSNAME}#{$block}+'--'+#{$name};
    }
  }
}

@mixin createAddClass($block, $lx, $name) {

  &#{getClassName($block, $lx, $name)} {
    @content;
  }
}

// 创建css样式名，并将内容存放入内
@mixin createSingleClass($block, $lx, $name) {
  #{getClassName($block, $lx, $name)} {
    @content;
  }
}

@function getNames($names, $block, $lx, $add, $add1) {
  $nameVal: "";
  $val: "";

  @each $name in $names {
    $i: index($names, $name);

    @if $name ==def {
      @if $i ==1 {
        $nameVal: "&"+$add1;
      }

      @else {
        $nameVal: $nameVal",&"+$add1;
      }
    }

    @else {
      @if $i ==1 {
        @if $block =='' {
          $nameVal: $add+getClassName($name, $lx, '')+$add1;
        }

        @else {
          $nameVal: $add+getClassName($block, $lx, $name)+$add1;
        }
      }

      @else {
        @if $block =='' {
          $nameVal: $nameVal","$add+getClassName($name, $lx, '')+$add1;
        }

        @else {
          $nameVal: $nameVal","$add+getClassName($block, $lx, $name)+$add1;
        }

      }
    }
  }

  @return $nameVal;
}