@function getStyle($class, $attr, $media) {
  @return (class: $class,
    attr: $attr,
    meida: $media );
}

@function getStyleObj($style, $child) {
  @return (style:$style,
    child: $child );
}