$namespace: 'z' !default;
$css-state-keys: ('primary', 'warning', 'danger', 'info', 'success');
$css-lx: ('re', 'text', 'def');
$media-keys: ();
$attr-keys: ();
$state-keys: ();
$def: (
  'border': var(--border-solid),
  'border-color': var(--color-border),
  'background-color': var(--color-white),
  'color': var(--color-text),
  'font-size': var(--width-font),
  'font-weight': var(--font-weight),
  'radius': var(--width-radius),
  'padding': var(--width-pd)
);