@use "../vars/index.scss" as *;

html {
  font-size: $htmlSize;
}

body {
  font-size: $fontSize;
}

button {
  margin: 0;
  user-select: none;
}
input{
  margin: 0;
  padding: 0;
  border: none;
outline: none;
background-color: transparent;
box-shadow: none;
}