@use 'sass:map';
@use '../mixins/createMod.scss' as *;

%flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  box-sizing: border-box;
  position: relative;

  @include createClass('wrap', '', '') {
    flex-wrap: wrap;
  }
}

@include createSingleClass('row', '', '') {
  @extend %flex;
  flex-flow: row nowrap;
}

@include createSingleClass('col', '', '') {
  @extend %flex;
  flex-flow: column nowrap;
}