@use 'sass:map';
@use '../../vars/index.scss' as *;
$btn-group-key--style: (
  background-color: map.get($color, primary, 2)
);
$btn-group-key--class: ();
$btn-group-key--attr: ();
$btn-group--class: (
  key: (style: $btn-group-key--style, child: (class: $btn-group-key--class, attr: $btn-group-key--attr))
);
$btn-group--attr: ();
$btn-group--style: ();
$hover-style: (
  class:$btn-group--class,
  attr:$btn-group--attr,
  style:$btn-group--style
);
  
    $styleMedia: (
      hover: $hover-style
    );
    